<table class="table table-striped">
  <thead>
      <tr>
        <th>Comment</th>
        <th>Author</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <% @movie.comments.each do |comment| -%>

          <tr>
            <td class="col-md-5">
              <%= comment.body %>
            </td>
            <td class="col-md-5">
              <%= comment.author %>
            </td>
            <td class="col-md-1"><%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-small btn-info sm-width" %></td>
            <td class="col-md-1"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger sm-width" %>
            </td>
          </tr>
      <% end -%>
  </tbody>
<table>